<!DOCTYPE html>
<html lang=”en”>
<head>
    <meta charset=”UTF-8">
    <title>Apachepatientresult</title>


</head>

<body>

    <style>
        table {
          border-collapse: collapse;
        }

        table, th, td {
          border: 1px solid black;
        }
        tr td:hover {background-color:#aaaaaa;}
        th {
          background-color: #666666;
          color: white;
        }

    </style>

    <p align="left">現在時刻： <span id="datetime"></span></p>
    <p align="left">表格:Apachepatientresult</p>
    <script>
        var dt = new Date();
        document.getElementById("datetime").innerHTML = (dt.getFullYear()) + "/"+ (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (("0"+dt.getDate()).slice(-2))  +"_"+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2)) + ":" + (("0"+dt.getSeconds()).slice(-2));


    </script>
    <table border="1" style="width: 100%">
        <thead>
        <tr>
            <th>apachepatientresultsid</th>
            <th><a href="" style="color: #33ffff">patientunitstayid</a></th>
            <th>physicianspeciality</th>
            <th>physicianinterventioncategory</th>
            <th>acutephysiologyscore</th>
            <th>apachescore</th>
            <th>apacheversion</th>
            <th>predictedicumortality</th>
            <th>actualicumortality</th>
            <th>predictediculos</th>
            <th>actualiculos</th>
            <th>predictedhospitalmortality</th>
            <th>actualhospitalmortality</th>
            <th>predictedhospitallos</th>
            <th>actualhospitallos</th>
            <th>preopmi</th>
            <th>preopcardiaccath</th>
            <th>ptcawithin24h</th>
            <th>unabridgedunitlos</th>
            <th>unabridgedhosplos</th>
            <th>actualventdays</th>
            <th>predventdays</th>
            <th>unabridgedactualventdays</th>
        </tr>
        </thead>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.apachepatientresultsid }}</td>
            <td><a href="/linkPage/{{ contact.patientunitstayid.patientunitstayid }}">{{ contact.patientunitstayid.patientunitstayid }}</a></td>
            <td>{{ contact.physicianspeciality }}</td>
            <td>{{ contact.physicianinterventioncategory }}</td>
            <td>{{ contact.acutephysiologyscore }}</td>
            <td>{{ contact.apachescore }}</td>
            <td>{{ contact.apacheversion }}</td>
            <td>{{ contact.predictedicumortality }}</td>
            <td>{{ contact.actualicumortality }}</td>
            <td>{{ contact.predictediculos }}</td>
            <td>{{ contact.actualiculos }}</td>
            <td>{{ contact.predictedhospitalmortality }}</td>
            <td>{{ contact.actualhospitalmortality }}</td>
            <td>{{ contact.predictedhospitallos }}</td>
            <td>{{ contact.actualhospitallos }}</td>
            <td>{{ contact.preopmi }}</td>
            <td>{{ contact.preopcardiaccath }}</td>
            <td>{{ contact.ptcawithin24h }}</td>
            <td>{{ contact.unabridgedunitlos }}</td>
            <td>{{ contact.unabridgedhosplos }}</td>
            <td>{{ contact.actualventdays }}</td>
            <td>{{ contact.predventdays }}</td>
            <td>{{ contact.unabridgedactualventdays }}</td>
        </tr>
        {% endfor %}
    </table>
<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
            <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    <p><a href="/patient/">home</a></p>
</div>
</body>
