<!DOCTYPE html>
<html lang=”en”>
<head>
    <meta charset=”UTF-8">
    <title>Apachepredvar</title>


</head>

<body>

    <style>
        table {
          border-collapse: collapse;
        }

        table, th, td {
          border: 1px solid black;
        }
        tr td:hover {background-color:#aaaaaa;}
        th {
          background-color: #666666;
          color: white;
        }

    </style>

    <p align="left">現在時刻： <span id="datetime"></span></p>
    <p align="left">表格:Apachepredvar</p>
    <script>
        var dt = new Date();
        document.getElementById("datetime").innerHTML = (dt.getFullYear()) + "/"+ (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (("0"+dt.getDate()).slice(-2))  +"_"+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2)) + ":" + (("0"+dt.getSeconds()).slice(-2));


    </script>
    <table border="1" style="width: 100%">
        <thead>
        <tr>
            <th>apachepredvarid</th>
            <th><a href="" style="color: #33ffff">patientunitstayid</a></th>
            <th>sicuday</th>
            <th>saps3day1</th>
            <th>saps3today</th>
            <th>saps3yesterday</th>
            <th>gender</th>
            <th>teachtype</th>
            <th>region</th>
            <th>bedcount</th>
            <th>admitsource</th>
            <th>graftcount</th>
            <th>meds</th>
            <th>verbal</th>
            <th>motor</th>
            <th>eyes</th>
            <th>age</th>
            <th>admitdiagnosis</th>
            <th>thrombolytics</th>
            <th>diedinhospital</th>
            <th>aids</th>
            <th>hepaticfailure</th>
            <th>lymphoma</th>
            <th>metastaticcancer</th>
            <th>leukemia</th>
            <th>immunosuppression</th>
            <th>cirrhosis</th>
            <th>electivesurgery</th>
            <th>activetx</th>
            <th>readmit</th>
            <th>ima</th>
            <th>midur</th>
            <th>ventday1</th>
            <th>oobventday1</th>
            <th>oobintubday1</th>
            <th>diabetes</th>
            <th>managementsystem</th>
            <th>var03hspxlos</th>
            <th>pao2</th>
            <th>fio2</th>
            <th>ejectfx</th>
            <th>creatinine</th>
            <th>dischargelocation</th>
            <th>visitnumber</th>
            <th>amilocation</th>
            <th>day1meds</th>
            <th>day1verbal</th>
            <th>day1motor</th>
            <th>day1eyes</th>
            <th>day1pao2</th>
            <th>day1fio2</th>
        </tr>
        </thead>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.apachepredvarid }}</td>
            <td><a href="/linkPage/{{ contact.patientunitstayid.patientunitstayid }}">{{ contact.patientunitstayid.patientunitstayid }}</a></td>
            <td>{{ contact.sicuday }}</td>
            <td>{{ contact.saps3day1 }}</td>
            <td>{{ contact.saps3today }}</td>
            <td>{{ contact.saps3yesterday }}</td>
            <td>{{ contact.gender }}</td>
            <td>{{ contact.teachtype }}</td>
            <td>{{ contact.region }}</td>
            <td>{{ contact.bedcount }}</td>
            <td>{{ contact.admitsource }}</td>
            <td>{{ contact.graftcount }}</td>
            <td>{{ contact.meds }}</td>
            <td>{{ contact.verbal }}</td>
            <td>{{ contact.motor }}</td>
            <td>{{ contact.eyes }}</td>
            <td>{{ contact.age }}</td>
            <td>{{ contact.admitdiagnosis }}</td>
            <td>{{ contact.thrombolytics }}</td>
            <td>{{ contact.diedinhospital }}</td>
            <td>{{ contact.aids }}</td>
            <td>{{ contact.hepaticfailure }}</td>
            <td>{{ contact.lymphoma }}</td>
            <td>{{ contact.metastaticcancer }}</td>
            <td>{{ contact.leukemia }}</td>
            <td>{{ contact.immunosuppression }}</td>
            <td>{{ contact.cirrhosis }}</td>
            <td>{{ contact.electivesurgery }}</td>
            <td>{{ contact.activetx }}</td>
            <td>{{ contact.readmit }}</td>
            <td>{{ contact.ima }}</td>
            <td>{{ contact.midur }}</td>
            <td>{{ contact.ventday1 }}</td>
            <td>{{ contact.oobventday1 }}</td>
            <td>{{ contact.oobintubday1 }}</td>
            <td>{{ contact.diabetes }}</td>
            <td>{{ contact.managementsystem }}</td>
            <td>{{ contact.var03hspxlos }}</td>
            <td>{{ contact.pao2 }}</td>
            <td>{{ contact.fio2 }}</td>
            <td>{{ contact.ejectfx }}</td>
            <td>{{ contact.creatinine }}</td>
            <td>{{ contact.dischargelocation }}</td>
            <td>{{ contact.visitnumber }}</td>
            <td>{{ contact.amilocation }}</td>
            <td>{{ contact.day1meds }}</td>
            <td>{{ contact.day1verbal }}</td>
            <td>{{ contact.day1motor }}</td>
            <td>{{ contact.day1eyes }}</td>
            <td>{{ contact.day1pao2 }}</td>
            <td>{{ contact.day1fio2 }}</td>

        </tr>
        {% endfor %}
    </table>
<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
            <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    <p><a href="/patient/">home</a></p>
</div>
</body>
