<!DOCTYPE html>
<html lang=”en”>
<head>
    <meta charset=”UTF-8">
    <title>Infusiondrug</title>


</head>

<body>

    <style>
        table {
          border-collapse: collapse;
        }

        table, th, td {
          border: 1px solid black;
        }
        tr td:hover {background-color:#aaaaaa;}
        th {
          background-color: #666666;
          color: white;
        }

    </style>

    <p align="left">現在時刻： <span id="datetime"></span></p>
    <p align="left">表格:Infusiondrug</p>
    <script>
        var dt = new Date();
        document.getElementById("datetime").innerHTML = (dt.getFullYear()) + "/"+ (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (("0"+dt.getDate()).slice(-2))  +"_"+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2)) + ":" + (("0"+dt.getSeconds()).slice(-2));


    </script>
    <table border="1" style="width: 100%">
        <thead>
        <tr>
            <th title="病患在ICU的ID">PatientUnitStayID</th>
            <th title="number of minutes from unit admit time that infusion drug column was entered">Infusion Offset</th>
            <th title="picklist name of the infusion drug">Drug Name</th>
            <th title="rate of the infusion drug">Drug Rate</th>
            <th title="infusion rate of the drug">Infusion Rate</th>
            <th title="the amount of drug given">Drug Amount</th>
            <th title="volume of fluid for the infusion">Volume Of Fluid</th>
            <th title="the patient weight recorded during the drug infusion in kilograms">Patient Weight</th>
        </tr>
        </thead>
        {% for contact in contacts %}
        <tr>
            <td title="病患在ICU的ID">{{ contact.patientunitstayid.patientunitstayid }}</td>
            <td title="number of minutes from unit admit time that infusion drug column was entered">{{ contact.infusionoffset }}</td>
            <td title="picklist name of the infusion drug">{{ contact.drugname }}</td>
            <td title="rate of the infusion drug">{{ contact.drugrate }}</td>
            <td title="infusion rate of the drug">{{ contact.infusionrate }}</td>
            <td title="the amount of drug given">{{ contact.drugamount }}</td>
            <td title="volume of fluid for the infusion">{{ contact.volumeoffluid }}</td>
            <td title="the patient weight recorded during the drug infusion in kilograms">{{ contact.patientweight }}</td>
        </tr>
        {% endfor %}
    </table>
<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
            <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    <p><a href="/patient/">home</a></p>
</div>
</body>
