<!DOCTYPE html>
<html lang=”en”>
<head>
    <meta charset=”UTF-8">
    <title>Intakeoutput</title>


</head>

<body>

    <style>
        table {
          border-collapse: collapse;
        }

        table, th, td {
          border: 1px solid black;
        }
        tr td:hover {background-color:#aaaaaa;}
        th {
          background-color: #666666;
          color: white;
        }

    </style>

    <p align="left">現在時刻： <span id="datetime"></span></p>
    <p align="left">表格:Intakeoutput</p>
    <script>
        var dt = new Date();
        document.getElementById("datetime").innerHTML = (dt.getFullYear()) + "/"+ (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (("0"+dt.getDate()).slice(-2))  +"_"+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2)) + ":" + (("0"+dt.getSeconds()).slice(-2));


    </script>
    <table border="1" style="width: 100%">
        <thead>
        <tr>
            <th title="病患在ICU的ID">PatientUnitStayID</th>
            <th title="number of minutes from unit admit time that the I and O value was observed">IntakeOutputOffset</th>
            <th title="total intake value up to the current offset">IntakeTotal</th>
            <th title="total output value up to the current offset">OutputTotal</th>
            <th title="total dialysis value up to the current offset">DialysisTotal</th>
            <th title="calculated net value of: intakeTotal – outputTotal + dialysisTotal">NetTotal</th>
            <th title="the root path of info from the label in I and O ">CellPath</th>
            <th title="The predefined row label text from I and O">CellLabel</th>
            <th title="the value of the current I and O row">CellValueNumeric</th>
            <th title="text conversion of the numeric value of the I and O row">CellValueText</th>
        </tr>
        </thead>
        {% for contact in contacts %}
        <tr>
            <td title="病患在ICU的ID">{{ contact.patientunitstayid.patientunitstayid }}</td>
            <td title="number of minutes from unit admit time that the I and O value was observed">{{ contact.intakeoutputoffset }}</td>
            <td title="total intake value up to the current offset">{{ contact.intaketotal }}</td>
            <td title="total output value up to the current offset">{{ contact.outputtotal }}</td>
            <td title="total dialysis value up to the current offset">{{ contact.dialysistotal }}</td>
            <td title="calculated net value of: intakeTotal – outputTotal + dialysisTotal">{{ contact.nettotal }}</td>
            <td title="the root path of info from the label in I and O ">{{ contact.cellpath }}</td>
            <td title="The predefined row label text from I and O">{{ contact.celllabel }}</td>
            <td title="the value of the current I and O row">{{ contact.cellvaluenumeric }}</td>
            <td title="text conversion of the numeric value of the I and O row">{{ contact.cellvaluetext }}</td>
        </tr>
        {% endfor %}
    </table>
<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
            <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    <p><a href="/patient/">home</a></p>
</div>
</body>
