<!DOCTYPE html>
<html lang=”en”>
<head>
    <meta charset=”UTF-8">
    <title>Respiratorycare</title>


</head>

<body>

    <style>
        table {
          border-collapse: collapse;
        }

        table, th, td {
          border: 1px solid black;
        }
        tr td:hover {background-color:#aaaaaa;}
        th {
          background-color: #666666;
          color: white;
        }

    </style>

    <p align="left">現在時刻： <span id="datetime"></span></p>
    <p align="left">表格:Respiratorycare</p>
    <script>
        var dt = new Date();
        document.getElementById("datetime").innerHTML = (dt.getFullYear()) + "/"+ (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (("0"+dt.getDate()).slice(-2))  +"_"+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2)) + ":" + (("0"+dt.getSeconds()).slice(-2));


    </script>
    <table border="1" style="width: 100%">
        <thead>
        <tr>
            <th>respcareid</th>
            <th><a href="" style="color: #33ffff">patientunitstayid</a></th>
            <th>respcarestatusoffset</th>
            <th>currenthistoryseqnum</th>
            <th>airwaytype</th>
            <th>airwaysize</th>
            <th>airwayposition</th>
            <th>cuffpressure</th>
            <th>ventstartoffset</th>
            <th>ventendoffset</th>
            <th>priorventstartoffset</th>
            <th>priorventendoffset</th>
            <th>apneaparams</th>
            <th>lowexhmvlimit</th>
            <th>hiexhmvlimit</th>
            <th>lowexhtvlimit</th>
            <th>hipeakpreslimit</th>
            <th>lowpeakpreslimit</th>
            <th>hirespratelimit</th>
            <th>lowrespratelimit</th>
            <th>sighpreslimit</th>
            <th>lowironoxlimit</th>
            <th>highironoxlimit</th>
            <th>meanairwaypreslimit</th>
            <th>peeplimit</th>
            <th>cpaplimit</th>
            <th>setapneainterval</th>
            <th>setapneatv</th>
            <th>setapneaippeephigh</th>
            <th>setapnearr</th>
            <th>setapneapeakflow</th>
            <th>setapneainsptime</th>
            <th>setapneaie</th>
            <th>setapneafio2</th>
        </tr>
        </thead>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.respcareid }}</td>
            <td><a href="/linkPage/{{ contact.patientunitstayid.patientunitstayid }}">{{ contact.patientunitstayid.patientunitstayid }}</a></td>
            <td>{{ contact.respcarestatusoffset }}</td>
            <td>{{ contact.currenthistoryseqnum }}</td>
            <td>{{ contact.airwaytype }}</td>
            <td>{{ contact.airwaysize }}</td>
            <td>{{ contact.airwayposition }}</td>
            <td>{{ contact.cuffpressure }}</td>
            <td>{{ contact.ventstartoffset }}</td>
            <td>{{ contact.ventendoffset }}</td>
            <td>{{ contact.priorventstartoffset }}</td>
            <td>{{ contact.priorventendoffset }}</td>
            <td>{{ contact.apneaparams }}</td>
            <td>{{ contact.lowexhmvlimit }}</td>
            <td>{{ contact.hiexhmvlimit }}</td>
            <td>{{ contact.lowexhtvlimit }}</td>
            <td>{{ contact.hipeakpreslimit }}</td>
            <td>{{ contact.lowpeakpreslimit }}</td>
            <td>{{ contact.hirespratelimit }}</td>
            <td>{{ contact.lowrespratelimit }}</td>
            <td>{{ contact.sighpreslimit }}</td>
            <td>{{ contact.lowironoxlimit }}</td>
            <td>{{ contact.highironoxlimit }}</td>
            <td>{{ contact.meanairwaypreslimit }}</td>
            <td>{{ contact.peeplimit }}</td>
            <td>{{ contact.cpaplimit }}</td>
            <td>{{ contact.setapneainterval }}</td>
            <td>{{ contact.setapneatv }}</td>
            <td>{{ contact.setapneaippeephigh }}</td>
            <td>{{ contact.setapnearr }}</td>
            <td>{{ contact.setapneapeakflow }}</td>
            <td>{{ contact.setapneainsptime }}</td>
            <td>{{ contact.setapneaie }}</td>
            <td>{{ contact.setapneafio2 }}</td>
        </tr>
        {% endfor %}
    </table>
<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
            <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    <p><a href="/patient/">home</a></p>
</div>
</body>
